:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --photo-background-color: #f5f4fa;
  --logo-text-color: #000000;
  --hero-btn-background: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-btn-accent: rgba(0, 0, 0, 0.15);
  --hero-bcg-color: #c4c4c4;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Site navigation */
.logo {
  color: var(--logo-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-text {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav-container {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contacts .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Header icons */
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

/* Studio page */

/* Hero */
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  padding: 200px 0;
  background-color: var(--hero-bcg-color);
  text-align: center;
}

/* Hero background image */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  color: var(--primary-background-color);
  background-color: var(--hero-btn-background);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--hero-btn-accent);
}

/* Section Benefits*/

/* Icons benefits */

.benefits-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 100%;
  height: 120px;
}
.benefits {
  display: flex;
  gap: 30px;
}
.benefits .item {
  max-width: 270px;
  flex-basis: calc((100% - 90px) / 4);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: 50%;
  margin: -1px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Section Company Services */
.pics-box {
  display: flex;
  gap: 30px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
.section.services {
  padding-top: 0;
}

.thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-overlay,
.mobile-overlay,
.design-overlay {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin: 0;
}
.desktop-overlay {
  flex-basis: 157px;
  max-width: 157px;
  max-height: 16px;
}

.mobile-overlay {
  flex-basis: 146px;
  max-width: 146px;
  max-height: 16px;
}

.design-overlay {
  flex-basis: 182px;
  max-width: 182px;
  max-height: 16px;
}

.pics-card.item {
  position: relative;
}

/* Section Team */

/* Social links icons */
.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 16px;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;
  fill: currentColor;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:hover,
.social-links .link:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

.staff-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.position {
  margin-top: 0;
  margin-bottom: 0;
}

.staff {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team {
  background-color: var(--photo-background-color);
}

.staff.list li {
  background-color: var(--primary-background-color);
}

.staff.list .item {
  flex-basis: calc((100% - 90px) / 4);
  max-width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Clients */
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients .link {
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover,
.clients .link:focus {
  fill: var(--accent-color);
}

.clients .item {
  flex-basis: calc((100%-150px) / 6);
  max-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

/* Footer */
.main-div {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

/* Icons join */
.text-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-top: 0%;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social .item {
  flex-basis: calc((100% - 30px) / 4);
  max-width: 44px;
  height: 44px;
}

.footer-social .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-background-color);
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .link:hover,
.footer-social .link:focus {
  background-color: var(--accent-color);
}

.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}

.logo-text.logo {
  display: block;

  margin-bottom: 20px;
}
.logo-footer {
  color: var(--primary-background-color);
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-address .link {
  display: block;

  color: var(--primary-background-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.footer-address .list {
  display: block;

  color: var(--footer-contacts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address .list:hover,
.footer-address .list:focus {
  color: var(--accent-color);
}

/* Footer Form Subscribe */
.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-background-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.form-field input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.form-field input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-field {
  display: flex;
  gap: 12px;
}

.subscribe-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 28px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.subscribe {
  margin-left: 23px;
}
/* Portfolio page */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.button {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--photo-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.list:hover,
.button.list:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}

.cards .link {
  display: block;
  text-decoration: none;
  color: var(--title-text-color);
}

.cards .link:hover,
.cards .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards-name {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-cards {
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 30px;
}

.cards .item {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
}

.cards-wrapper {
  position: relative;
  overflow: hidden;
}

.cards-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  padding: 63px 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-background-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards .link:hover .cards-overlay,
.cards .link:focus .cards-overlay {
  transform: translate(0%);
}

/* Modal */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-background-color);

  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
